// layout.less

body {
	background-color: #fff;
}

.container {

    max-width: 100%; // this might be weird.

    &.content {

        background-color: #fff !important;
        .clearfix;
        padding: (@grid-gutter-width /1.25) (@grid-gutter-width) (@grid-gutter-width *2) (@grid-gutter-width);

        min-height: 100px;
    }

    @media (max-width: @screen-xs-max) {
        .nopad;
    }
}

.wrap, .wrapper, .container, .section, .widget, footer, ul {
    .clearfix;
}

section {
    clear: both;
    display: block;
    .clearfix;
}


.narrow {

    section {
        .make-md-column(10);
        .make-md-column-push(1);
        clear: both;
        overflow: hidden;
        display: block;
        font-size: 20px;

        &.intro {
            margin-top: @grid-gutter-width;
        }
    }

    ul {
        list-style-type: disc;
    }

    li {
        margin-bottom: @grid-gutter-width /2;
        margin-top: @grid-gutter-width /2;
    }
}
